.user-table {
	color: #FFF;
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
	border-spacing: 0 1rem;
	border-collapse: separate;
}

.user-status {
	text-transform: capitalize;
	border-radius: 0.3rem;
	font-size: 1rem;
}

.user-status.active {
	background: #109CF1;
}
.user-status.inactive {
	background: #FF3B47;
}

.send-warning img {
	max-height: 30px;
}

.avatar {
	max-height: 30px;
}