/* You can add global styles to this file, and also import other style files */
.wendy-one-regular {
  font-family: "Wendy One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}