.dashboard * {
	color: #FFF;
	font-family: 'Inter', sans-serif;
}

.report-list {
	color: #FFF;
	font-family: 'Inter', sans-serif;
	width: 100%;
	text-align: center;
	border-spacing: 0 1rem;
	border-collapse: separate;
}